In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("final_comedia.csv", index_col= 0)
df.head()

   Unnamed: 0.1   Tipo                 Nombre   Año  ,Mes         Id
0             0  Movie            Asfour Stah  1990   3.0  tt0090665
1             1  Movie  O Escorpião Escarlate  1990   NaN  tt0091899
2             2  Movie                Payback  1990   4.0  tt0095840
3             3  Movie              Dezha vyu  1990   4.0  tt0097253
4             4  Movie    Zhong Ri nan bei he  1990   5.0  tt0096506

In [5]:
df.columns

Index(['Unnamed: 0.1', 'Tipo', 'Nombre', 'Año', ',Mes', 'Id'], dtype='object')

In [7]:
df.drop(columns= ['Unnamed: 0.1'], inplace= True)
df.head()

    Tipo                 Nombre   Año  ,Mes         Id
0  Movie            Asfour Stah  1990   3.0  tt0090665
1  Movie  O Escorpião Escarlate  1990   NaN  tt0091899
2  Movie                Payback  1990   4.0  tt0095840
3  Movie              Dezha vyu  1990   4.0  tt0097253
4  Movie    Zhong Ri nan bei he  1990   5.0  tt0096506

In [13]:
df.columns=['Tipo', 'Nombre', 'Año', 'Mes', 'Id']
df.head()

    Tipo                 Nombre   Año  Mes         Id
0  Movie            Asfour Stah  1990  3.0  tt0090665
1  Movie  O Escorpião Escarlate  1990  NaN  tt0091899
2  Movie                Payback  1990  4.0  tt0095840
3  Movie              Dezha vyu  1990  4.0  tt0097253
4  Movie    Zhong Ri nan bei he  1990  5.0  tt0096506

In [9]:
lista_comedia = [tuple(x) for x in df.values]

In [ ]:
lista_comedia

In [62]:
lista_comedia_partida = lista_comedia[0:3]
lista_comedia_partida

[('Movie', 'Asfour Stah', 1990, 3.0, 'tt0090665'),
 ('Movie', 'O Escorpião Escarlate', 1990, nan, 'tt0091899'),
 ('Movie', 'Payback', 1990, 4.0, 'tt0095840')]

In [22]:
lista_comedia_partida[1][-1]

'tt0091899'

In [57]:
import pandas as pd  # Pandas es una poderosa librería para manipulación y análisis de datos en Python.

# Importar librerías para web scraping y manipulación de datos
# -----------------------------------------------------------------------
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm
import re


# Importar librerías para automatización de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.

# Importar librerías para pausar la ejecución
# -----------------------------------------------------------------------
from time import sleep  # Sleep se utiliza para pausar la ejecución del programa por un número de segundos.

# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

In [65]:
url = "https://www.imdb.com/"

driver = webdriver.Chrome()
driver.get(url)
sleep(2)
driver.maximize_window()

lista_tupla_imdb=[]
for tupla in tqdm(lista_comedia_partida):
    lista_imdb =[]

    driver.find_element("css selector", "#suggestion-search").click()
    sleep(3)
    driver.find_element("css selector", "#suggestion-search").send_keys(tupla[-1], Keys.ENTER)
    sleep(5)
    
    
    puntuacion = driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.eaRXHu > section > div:nth-child(4) > section > section > div.sc-e226b0e3-3.jJsEuz > div.sc-3a4309f8-0.fjtZsE.sc-dffc6c81-1.fJrHDo > div > div:nth-child(1) > a > span > div > div.sc-bde20123-0.gtEgaf").text
    puntuacion_correcta = re.sub(r'\n.*', '', puntuacion)
    
    #depurar datos de la puntuación (pendiente meter regex)
    
    guionista= driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.eaRXHu > section > div:nth-child(4) > section > section > div.sc-e226b0e3-4.fjlSjH > div.sc-e226b0e3-6.ktaZPG > div.sc-e226b0e3-10.bALQos > section > div.sc-dffc6c81-3.jFHENY > div > ul > li:nth-child(2) > div").text
    guionista_corregidos= re.sub(r'([a-z])([A-Z])', r'\1 \2', guionista)     

    sleep(3)

    director= driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.eaRXHu > section > div:nth-child(4) > section > section > div.sc-e226b0e3-4.fjlSjH > div.sc-e226b0e3-6.ktaZPG > div.sc-e226b0e3-10.bALQos > section > div.sc-dffc6c81-3.jFHENY > div > ul > li:nth-child(1) > div > ul > li > a").text
    
        
    lista_imdb.append(tupla[-1])
    lista_imdb.append(tupla[1])
    lista_imdb.append(director)
    lista_imdb.append(guionista_corregidos)
    try: 
        duracion= driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.eaRXHu > section > div:nth-child(4) > section > section > div.sc-e226b0e3-3.jJsEuz > div.sc-dffc6c81-0.iwmAVw > ul > li:nth-child(2)").text
        if 'min' in duracion: 
           lista_imdb.append(duracion)
        else:
            duracion= driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.eaRXHu > section > div:nth-child(4) > section > section > div.sc-e226b0e3-3.jJsEuz > div.sc-dffc6c81-0.iwmAVw > ul > li:nth-child(3)").text 
            lista_imdb.append(duracion)
            
    except:
        pass 
    lista_imdb.append(puntuacion_correcta.replace(",", "."))

    try: 
        argumento = driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.eaRXHu > section > div:nth-child(4) > section > section > div.sc-e226b0e3-4.fjlSjH > div.sc-e226b0e3-6.ktaZPG > div.sc-e226b0e3-10.bALQos > section > p > span.sc-466bb6c-2.eVLpWt").text
        lista_imdb.append(argumento)
    except:
        lista_imdb.append("Sin argumento")
    

    lista_tupla_imdb.append(tuple(lista_imdb))



driver.back()

100%|██████████| 3/3 [05:15<00:00, 105.14s/it]

In [66]:
lista_tupla_imdb

[('tt0090665',
  'Asfour Stah',
  'Férid Boughedir',
  'Férid Boughedir Nouri Bouzid Taoufik Jebali',
  '1h 38min',
  '6.7',
  'Noura struggles to reconcile two worlds, Muslim women and men, while also dealing with his own sexuality.'),
 ('tt0091899',
  'O Escorpião Escarlate',
  'Ivan Cardoso',
  'Rubens Francisco Luchetti',
  '1h 30min',
  '6.2',
  'O Anjo (The Angel) is a millionaire playboy who fights the forces of crime, especially his deadly enemy, the arch-villain Escorpião Escarlate (Scarlet Scorpion), who recently has kidnapped the fashion designer Glória Campos, who is in love with our hero.'),
 ('tt0095840',
  'Payback',
  'Addison Randall',
  'Addison Randall',
  '1h 30min',
  '4.3',
  'A right-wing revolutionary group called Strikeforce goes on a kidnapping and murdering spree in order to obtain a lethal top secret weapon. A Vietnam Vet called Jason Shepherd is called in to track the group down.')]

In [55]:
texto_separado = re.sub(r'([a-z])([A-Z])', r'\1 \2', 'Kee-To LamTai-Mok LauMan Fai Ng',)
print(texto_separado)

Kee-To Lam Tai-Mok Lau Man Fai Ng

In [53]:
lista_tupla_imdb

[('A Japanese singer believes her father has been kidnapped. She goes to Hong Kong to find him.',
  '5,6\n/10\n80',
  'Kee-To LamTai-Mok LauMan Fai Ng',
  'David Wu',
  '1h 32min',
  'tt0096506',
  'Zhong Ri nan bei he')]

In [51]:
lista_tupla_imdb

[('A Japanese singer believes her father has been kidnapped. She goes to Hong Kong to find him.',
  '5,6\n/10\n80',
  'Kee-To LamTai-Mok LauMan Fai Ng',
  'David Wu',
  '1h 32min',
  'tt0096506',
  'Zhong Ri nan bei he')]

In [52]:
lista_tupla_imdb

[('A Japanese singer believes her father has been kidnapped. She goes to Hong Kong to find him.',
  '5,6\n/10\n80',
  'Kee-To LamTai-Mok LauMan Fai Ng',
  'David Wu',
  '1h 32min',
  'tt0096506',
  'Zhong Ri nan bei he')]

In [45]:
puntuacion_correcta.replace(",", ".")

'5.6'