In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("datos_accion_completo.csv")
df.head()

,Unnamed: 0.1,Unnamed: 0,Tipo,Nombre,Año,Mes,Id,tipo,nombre,año,mes,id
0,0,0,Movie,Spy Story,1990.0,3.0,tt0075259,NaN,NaN,NaN,NaN,NaN
1,1,1,Movie,Comando terrorista,1990.0,NaN,tt0090869,NaN,NaN,NaN,NaN,NaN
2,2,2,Movie,Dragon Hunt,1990.0,6.0,tt0092926,NaN,NaN,NaN,NaN,NaN
3,3,3,Movie,Huang jia shi jie zhi: Zhong jian ren,1990.0,6.0,tt0094376,NaN,NaN,NaN,NaN,NaN
4,4,4,Movie,Soldier of Fortune,1990.0,4.0,tt0094004,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Tipo', 'Nombre', 'Año', 'Mes', 'Id',
       'tipo', 'nombre', 'año', 'mes', 'id'],
      dtype='object')

In [6]:
df.drop(columns= ['tipo', 'nombre', 'año', 'mes', 'id'], inplace= True)
df.head()

,Unnamed: 0.1,Unnamed: 0,Tipo,Nombre,Año,Mes,Id
0,0,0,Movie,Spy Story,1990.0,3.0,tt0075259
1,1,1,Movie,Comando terrorista,1990.0,NaN,tt0090869
2,2,2,Movie,Dragon Hunt,1990.0,6.0,tt0092926
3,3,3,Movie,Huang jia shi jie zhi: Zhong jian ren,1990.0,6.0,tt0094376
4,4,4,Movie,Soldier of Fortune,1990.0,4.0,tt0094004

In [7]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Tipo', 'Nombre', 'Año', 'Mes', 'Id'], dtype='object')

In [8]:
df.drop(columns= ['Unnamed: 0.1', 'Unnamed: 0'], inplace= True)
df.head()

    Tipo                                 Nombre     Año  Mes         Id
0  Movie                              Spy Story  1990.0  3.0  tt0075259
1  Movie                     Comando terrorista  1990.0  NaN  tt0090869
2  Movie                            Dragon Hunt  1990.0  6.0  tt0092926
3  Movie  Huang jia shi jie zhi: Zhong jian ren  1990.0  6.0  tt0094376
4  Movie                     Soldier of Fortune  1990.0  4.0  tt0094004

In [9]:
df.columns=['Tipo', 'Nombre', 'Año', 'Mes', 'Id']
df.head()

    Tipo                                 Nombre     Año  Mes         Id
0  Movie                              Spy Story  1990.0  3.0  tt0075259
1  Movie                     Comando terrorista  1990.0  NaN  tt0090869
2  Movie                            Dragon Hunt  1990.0  6.0  tt0092926
3  Movie  Huang jia shi jie zhi: Zhong jian ren  1990.0  6.0  tt0094376
4  Movie                     Soldier of Fortune  1990.0  4.0  tt0094004

In [10]:
lista_accion =(tuple(x for x in df.values))

In [24]:
import pandas as pd  # Pandas es una poderosa librería para manipulación y análisis de datos en Python.

# Importar librerías para web scraping y manipulación de datos
# -----------------------------------------------------------------------
from bs4 import BeautifulSoup
import requests

import re


# Importar librerías para automatización de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.

# Importar librerías para pausar la ejecución
# -----------------------------------------------------------------------
from time import sleep  # Sleep se utiliza para pausar la ejecución del programa por un número de segundos.

# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

In [25]:
lista_prueba=[('Movie','Alienator',1990.0, 2.0 ,'tt0096786'),
('Movie' ,'Legion of Iron', 1990.0, 8.0 ,'tt0097726'),
('Movie', 'Catchfire', 1990.0, 4.0 ,'tt0096875'),
('Movie', 'La leyenda de una máscara', 1990.0, 2.0, 'tt0097738'),
('Movie', 'The Sword of Bushido' ,1990.0, 6.0 ,'tt0098422'),
('Movie','Another 48 Hrs.' ,1990.0 ,8.0 ,'tt0099044'),
('Movie' ,'Easy Kill', 1990.0, 4.0 ,'tt0097259'), ("Movie","Der Kopf des Mohren",1995,12.0,"tt0113571"), 
('Short','Infernal Gluttony',2010,'tt12471386')]

In [7]:
mierda_corto=[('Short','Infernal Gluttony',2010,'tt12471386')]

In [26]:
driver = webdriver.Chrome()
url = "https://www.imdb.com/"
driver.get(url)
sleep(2)
driver.maximize_window()

lista_tupla_imdb=[]

for tupla in lista_prueba:

    lista_imdb =[]
    
    driver.find_element("css selector", "#suggestion-search").send_keys(tupla[-1], Keys.ENTER)
    
    sleep(2)
    
    id_pelicula=tupla[-1]    
    lista_imdb.append(id_pelicula)
    
    sleep(1)
    
    nombre_pelicula=tupla[1]
    lista_imdb.append(nombre_pelicula)
    
    tipo=tupla[0]
    lista_imdb.append(tipo)
    
    sleep(1)
    try: 
        director= driver.find_element("xpath", '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[1]/div').text
                                               
        lista_imdb.append(director)
    
    except: 
        
        lista_imdb.append("No especificado")
    
    sleep(2)
    
    try: 
        guionista= driver.find_element("xpath", '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[2]/div').text
        guionista_corregido= re.sub(r'([a-z])([A-Z])', r'\1 \2', guionista)
        lista_imdb.append(guionista_corregido)
    
    except: 
        lista_imdb.append("No especificado")
    
    sleep(2)
    
    try: 
        for i in range(2, 4):
            duracion= driver.find_element("xpath",f'//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[{i}]').text
            if 'min' in duracion: 
                lista_imdb.append(duracion)
                break
            elif 'h' in duracion: 
                lista_imdb.append(duracion)
                break
            else:
                pass           
    except:
        duracion =("No especificado")
        lista_imdb.append(duracion)
                        
                     
    sleep(3)
    
    try: 
        puntuacion = driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > section > div:nth-child(4) > section > section > div.sc-e226b0e3-3.dwkouE > div.sc-3a4309f8-0.bjXIAP.sc-dffc6c81-1.ehUwiL > div > div:nth-child(1) > a").text
        puntuacion_correcta = re.sub(r'\n.*', '', puntuacion)
        lista_imdb.append(puntuacion_correcta.replace(",", "."))
        
    except: 
        lista_imdb.append("No especificado")

    sleep(3)
    
    try:  
        
        print("el argumento") 
        argumento = driver.find_element("xpath", '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/p/span[3]').text
                                                
        lista_imdb.append(argumento)
    
    except:
        print("sin argumento")
        lista_imdb.append("No especificado")
    
    sleep(2)
        
    lista_tupla_imdb.append(tuple(lista_imdb))
        
driver.back()

el argumento
el argumento
el argumento
el argumento
el argumento
el argumento
el argumento
el argumento
el argumento

In [ ]:
PUNTUACIOn
#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > section > div:nth-child(4) > section > section > div.sc-e226b0e3-3.dwkouE > div.sc-3a4309f8-0.bjXIAP.sc-dffc6c81-1.ehUwiL > div > div:nth-child(1) > a
#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > section > div:nth-child(4) > section > section > div.sc-e226b0e3-3.dwkouE > div.sc-3a4309f8-0.bjXIAP.sc-dffc6c81-1.ehUwiL > div > div:nth-child(1) > a

In [ ]:
MINUTAJE
//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul
//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul
//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul

In [ ]:
argumento

//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/p/span[3]
//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/p/span[3]

//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/p
//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/p

//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/p/span[3]/text()
//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/p/span[1]/text()

//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/p/span[3]

In [ ]:
argumento_abajo

//*[@id="__next"]/main/div/section[1]/div/section/div/div[1]/section[5]/div[2]/div[1]/div/div/div
//*[@id="__next"]/main/div/section[1]/div/section/div/div[1]/section[5]/div[2]/div[1]/div/div/div
//*[@id="__next"]/main/div/section[1]/div/section/div/div[1]/section[4]/div[2]/div[1]/div/div/div

//*[@id="__next"]/main/div/section[1]/div/section/div/div[1]/section[4]

In [27]:
len(lista_tupla_imdb)

9

In [28]:
lista_tupla_imdb

[('tt0096786',
  'Alienator',
  'Movie',
  'Fred Olen Ray',
  'Paul Garson',
  '1h 33min',
  '3.2',
  'Kol is an evil guy about to be executed on a distant spaceship. He manages to escape on a shuttle and make his way to some woods in America. The commander of the spaceship decides to send out The Alienator to execute Kol at all costs. Kol meets up with some teens and Ward Armstrong and together they all try not to get killed by the pursuing Woman of Death - The Aliena... Leer todo'),
 ('tt0097726',
  'Legion of Iron',
  'Movie',
  'Yakov Bentsvi',
  'Ruben Gordon Ed Hunt Steve Schoenberg',
  '1h 30min',
  '4.0',
  'Billy Hamilton, high-school football star, and his girlfriend, Allyson, are kidnapped from Lover\'s Lane by a pair of armed men who helicopter them to an underground location hidden out in the desert. At this location, "Queen" Diana forces Billy to become a gladiator in death-matches which are bet on by jaded millionaires. Meanwhile, the facility\'s guards use Allyson f... Leer todo'),
 ('tt0096875',
  'Catchfire',
  'Movie',
  'Dennis Hopper',
  'Rachel Kronstadt Mann Ann Louise Bardach',
  '1h 56min',
  '5.3',
  'Una testigo de un asesinato mafioso huye de una ciudad a otra para salvar su vida.'),
 ('tt0097738',
  'La leyenda de una máscara',
  'Movie',
  'José Buil',
  'José Buil',
  '1h 35min',
  '5.9',
  'A sports journalist is assigned to discover the truth behind the mask of "El Angel Enmascarado" (The Masked Angel), a very popular and recently deceased wrestler.'),
 ('tt0098422',
  'The Sword of Bushido',
  'Movie',
  'Adrian Carr',
  'James Wulf Simmonds',
  '1h 44min',
  '4.5',
  "Richard Norton plays a Bushido-trained ex-Navy SEAL named Connors (he was in 'Nam) who ends up in the far east after investigating the whereabouts of an ancient Japanese ceremonial sword. Connors is left wondering whether the trip was such a good idea when Japanese gangsters start hassling him and his team of guerrilla fighters."),
 ('tt0099044',
  'Another 48 Hrs.',
  'Movie',
  'Walter Hill',
  'John Fasano Roger Spottiswoode Jeb Stuart',
  '1h 35min',
  '5.9',
  'Jack Cates vuelve a contar con la ayuda del exconvicto Reggie Hammond, esta vez para acabar con El Témpano, un despiadado capo de la droga que opera en la zona de la bahía de San Francisco.'),
 ('tt0097259',
  'Easy Kill',
  'Movie',
  'Josh Spencer',
  'Greg Latter',
  '1h 29min',
  '3.8',
  'A bar owner/ex cop winds up in a scheme involving drug smuggling, murder, and seduction.'),
 ('tt0113571',
  'Der Kopf des Mohren',
  'Movie',
  'Paulus Manker',
  'Michael Haneke',
  '2h',
  '6.8',
  "A seemingly contented man's descent into hallucination, paranoia and, finally, total insanity."),
 ('tt12471386',
  'Infernal Gluttony',
  'Short',
  'David Charbonneau',
  'No especificado',
  'No se indica',
  '5.3',
  '')]

In [29]:
lista_tupla_imdb

[('tt0096786',
  'Alienator',
  'Movie',
  'Fred Olen Ray',
  'Paul Garson',
  '1h 33min',
  '3.2',
  'Kol is an evil guy about to be executed on a distant spaceship. He manages to escape on a shuttle and make his way to some woods in America. The commander of the spaceship decides to send out The Alienator to execute Kol at all costs. Kol meets up with some teens and Ward Armstrong and together they all try not to get killed by the pursuing Woman of Death - The Aliena... Leer todo'),
 ('tt0097726',
  'Legion of Iron',
  'Movie',
  'Yakov Bentsvi',
  'Ruben Gordon Ed Hunt Steve Schoenberg',
  '1h 30min',
  '4.0',
  'Billy Hamilton, high-school football star, and his girlfriend, Allyson, are kidnapped from Lover\'s Lane by a pair of armed men who helicopter them to an underground location hidden out in the desert. At this location, "Queen" Diana forces Billy to become a gladiator in death-matches which are bet on by jaded millionaires. Meanwhile, the facility\'s guards use Allyson f... Leer todo'),
 ('tt0096875',
  'Catchfire',
  'Movie',
  'Dennis Hopper',
  'Rachel Kronstadt Mann Ann Louise Bardach',
  '1h 56min',
  '5.3',
  'Una testigo de un asesinato mafioso huye de una ciudad a otra para salvar su vida.'),
 ('tt0097738',
  'La leyenda de una máscara',
  'Movie',
  'José Buil',
  'José Buil',
  '1h 35min',
  '5.9',
  'A sports journalist is assigned to discover the truth behind the mask of "El Angel Enmascarado" (The Masked Angel), a very popular and recently deceased wrestler.'),
 ('tt0098422',
  'The Sword of Bushido',
  'Movie',
  'Adrian Carr',
  'James Wulf Simmonds',
  '1h 44min',
  '4.5',
  "Richard Norton plays a Bushido-trained ex-Navy SEAL named Connors (he was in 'Nam) who ends up in the far east after investigating the whereabouts of an ancient Japanese ceremonial sword. Connors is left wondering whether the trip was such a good idea when Japanese gangsters start hassling him and his team of guerrilla fighters."),
 ('tt0099044',
  'Another 48 Hrs.',
  'Movie',
  'Walter Hill',
  'John Fasano Roger Spottiswoode Jeb Stuart',
  '1h 35min',
  '5.9',
  'Jack Cates vuelve a contar con la ayuda del exconvicto Reggie Hammond, esta vez para acabar con El Témpano, un despiadado capo de la droga que opera en la zona de la bahía de San Francisco.'),
 ('tt0097259',
  'Easy Kill',
  'Movie',
  'Josh Spencer',
  'Greg Latter',
  '1h 29min',
  '3.8',
  'A bar owner/ex cop winds up in a scheme involving drug smuggling, murder, and seduction.'),
 ('tt0113571',
  'Der Kopf des Mohren',
  'Movie',
  'Paulus Manker',
  'Michael Haneke',
  '2h',
  '6.8',
  "A seemingly contented man's descent into hallucination, paranoia and, finally, total insanity."),
 ('tt12471386',
  'Infernal Gluttony',
  'Short',
  'David Charbonneau',
  'No especificado',
  'No se indica',
  '5.3',
  '')]